.hero-image {
    margin: 0  (-1 * $margin);
    position: relative;
    padding-top: 40%;
    overflow: hidden;

    & img {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;

        transform: translate(-50%, -50%);
    }
}